{% unless page.template_suffix contains 'dalp' %}
{% assign now = "now" | date: "%s" %}<!--Announcement Bar Scheduling-->
{% assign show_at = section.settings.show_at | date: "%s" %}<!--Announcement Bar Scheduling-->
{% assign remove_at = section.settings.remove_at | date: "%s" %}<!--Announcement Bar Scheduling-->

  {% if show_at == blank or now > show_at %}<!--Announcement Bar Scheduling-->
    {% if remove_at == blank or now < remove_at %}<!--Announcement Bar Scheduling--> 
      <div class="notification-bar" id="ecom-notification-bar" style="background-color:{{ section.settings.announcement_background_color }};">
        {% if section.settings.show_announcement %}
                <div class="site-header--text-links{% if section.settings.announcement_text == blank %} medium-down--hide{% endif %}">
                  {% if section.settings.show_announcement %}
                    {% if section.settings.announcement_link != blank %}
                      <a style="color:{{ section.settings.announcement_text_color }};" href="{{ section.settings.announcement_link }}">
                    {% endif %}
      
                      <p style="color:{{ section.settings.announcement_text_color }};">{{ section.settings.announcement_text | escape }}</p>
      
                    {% if section.settings.announcement_link != blank %}
                      </a>
                    {% endif %}
                  {% endif %}
                 
                </div>
        {% endif %}
      </div>
    {% endif %}<!--Announcement bar scheduling-->
  {% endif %}<!--Announcement bar scheduling--> 

{% if section.settings.show_contact_bar %}
<div class="contact-bar medium-down--hide">
    <div class="wrapper">
    <div class="contact_info">
     {% if section.settings.multi_locations %}
      <ul>
        <li><a href="/a/pages/locations"><span class="fa-solid fa-location-pin"></span>&nbsp;Contact Us</a></li>
      </ul>
      {% else %}
          {% if section.settings.show_contact_bar %}
              <ul>        
                 {% if section.settings.show_phone %}
                  <li><a href="tel:{{ section.settings.header_phone | escape }}"><span class="fa-solid fa-phone"></span>&nbsp;{{ section.settings.header_phone }}</a></li>
                  {% endif %}
                  {% if section.settings.show_email %}
                  <li><a href="mailto:{{ section.settings.header_email | escape }}"><span class="fa-solid fa-envelope"></span>&nbsp;{{ section.settings.header_email }}</a></li>
                  {% endif %}
                  {% if section.settings.show_locations %}
                  <li><a href="{{ section.settings.header_locations | escape }}"><span class="fa-solid fa-location-dot"></span>&nbsp;{{ section.settings.header_locations_title }}</a></li>
                  {% endif %}
              </ul>
          {% endif %}
      {% endif %}
      {% comment %}
      SOCIAL MEDIA ICONS
      {% endcomment %}
      {% if section.settings.show_social_icons %}
          <ul class="inline-list social-icons">
             {% if settings.social_twitter_link != blank %}
               <li>
                 <a class="icon-fallback-text" {% if section.settings.social_new_tab %} target="_blank" {% endif %} href="{{ settings.social_twitter_link | escape }}" title="{{ 'layout.footer.store_on_social_network' | t: store_name: shop.name, social_network: 'Twitter' | escape }}">
                   <i class="fa-brands fa-x-twitter"></i>
                   <span class="fallback-text" style="color:{{ section.settings.announcement_text_color }}; background-color:{{ section.settings.announcement_background_color }};">Twitter</span>
                 </a>
               </li>
             {% endif %}
             {% if settings.social_facebook_link != blank %}
               <li>
                 <a class="icon-fallback-text" {% if section.settings.social_new_tab %} target="_blank" {% endif %} href="{{ settings.social_facebook_link | escape }}" title="{{ 'layout.footer.store_on_social_network' | t: store_name: shop.name, social_network: 'Facebook' | escape }}">
                   <i class="fa-brands fa-square-facebook"></i>
                   <span class="fallback-text" style="color:{{ section.settings.announcement_text_color }}; background-color:{{ section.settings.announcement_background_color }};">Facebook</span>
                 </a>
               </li>
             {% endif %}
             {% if settings.social_pinterest_link != blank %}
               <li>
                 <a class="icon-fallback-text" {% if section.settings.social_new_tab %} target="_blank" {% endif %} href="{{ settings.social_pinterest_link | escape }}" title="{{ 'layout.footer.store_on_social_network' | t: store_name: shop.name, social_network: 'Pinterest' | escape }}">
                   <i class="fa-brands fa-pinterest-p"></i>
                   <span class="fallback-text" style="color:{{ section.settings.announcement_text_color }}; background-color:{{ section.settings.announcement_background_color }};">Pinterest</span>
                 </a>
               </li>
             {% endif %}
             {% if settings.social_google_plus_link != blank %}
               <li>
                 <a class="icon-fallback-text" {% if section.settings.social_new_tab %} target="_blank" {% endif %} href="{{ settings.social_google_plus_link | escape }}" title="{{ 'layout.footer.store_on_social_network' | t: store_name: shop.name, social_network: 'Google' | escape }}" rel="publisher">
                   <i class="fa-brands fa-google-plus-g"></i>
                   <span class="fallback-text" style="color:{{ section.settings.announcement_text_color }}; background-color:{{ section.settings.announcement_background_color }};">Google</span>
                 </a>
               </li>
             {% endif %}
             {% if settings.social_instagram_link != blank %}
               <li>
                 <a class="icon-fallback-text" {% if section.settings.social_new_tab %} target="_blank" {% endif %} href="{{ settings.social_instagram_link | escape }}" title="{{ 'layout.footer.store_on_social_network' | t: store_name: shop.name, social_network: 'Instagram' | escape }}">
                   <i class="fa-brands fa-instagram"></i>
                   <span class="fallback-text" style="color:{{ section.settings.announcement_text_color }}; background-color:{{ section.settings.announcement_background_color }};">Instagram</span>
                 </a>
               </li>
             {% endif %}
             {% if settings.social_snapchat_link != blank %}
               <li>
                 <a class="icon-fallback-text" {% if section.settings.social_new_tab %} target="_blank" {% endif %} href="{{ settings.social_snapchat_link }}" title="{{ 'layout.footer.store_on_social_network' | t: store_name: shop.name, social_network: 'Snapchat' | escape }}">
                   <i class="fa-brands fa-snapchat"></i>
                   <span class="fallback-text" style="color:{{ section.settings.announcement_text_color }}; background-color:{{ section.settings.announcement_background_color }};">Snapchat</span>
                 </a>
               </li>
             {% endif %}
             {% if settings.social_tumblr_link != blank %}
               <li>
                 <a class="icon-fallback-text" {% if section.settings.social_new_tab %} target="_blank" {% endif %} href="{{ settings.social_tumblr_link | escape }}" title="{{ 'layout.footer.store_on_social_network' | t: store_name: shop.name, social_network: 'Tumblr' | escape }}">
                   <i class="fa-brands fa-tumblr"></i>
                   <span class="fallback-text" style="color:{{ section.settings.announcement_text_color }}; background-color:{{ section.settings.announcement_background_color }};">Tumblr</span>
                 </a>
               </li>
             {% endif %}
             {% if settings.social_youtube_link != blank %}
               <li>
                 <a class="icon-fallback-text" {% if section.settings.social_new_tab %} target="_blank" {% endif %} href="{{ settings.social_youtube_link | escape }}" title="{{ 'layout.footer.store_on_social_network' | t: store_name: shop.name, social_network: 'YouTube' | escape }}">
                   <i class="fa-brands fa-youtube"></i>
                   <span class="fallback-text" style="color:{{ section.settings.announcement_text_color }}; background-color:{{ section.settings.announcement_background_color }};">YouTube</span>
                 </a>
               </li>
             {% endif %}
             {% if settings.social_vimeo_link != blank %}
               <li>
                 <a class="icon-fallback-text" {% if section.settings.social_new_tab %} target="_blank" {% endif %} href="{{ settings.social_vimeo_link | escape }}" title="{{ 'layout.footer.store_on_social_network' | t: store_name: shop.name, social_network: 'Vimeo' | escape }}">
                   <i class="fa-brands fa-vimeo-v"></i>
                   <span class="fallback-text" style="color:{{ section.settings.announcement_text_color }}; background-color:{{ section.settings.announcement_background_color }};">Vimeo</span>
                 </a>
               </li>
             {% endif %}
            {% if settings.social_tiktok_link != blank %}
               <li>
                 <a class="icon-fallback-text" {% if section.settings.social_new_tab %} target="_blank" {% endif %} href="{{ settings.social_tiktok_link | escape }}" title="{{ 'layout.footer.store_on_social_network' | t: store_name: shop.name, social_network: 'Tiktok' | escape }}">
                   <i class="fa-brands fa-tiktok"></i>
                   <span class="fallback-text" style="color:{{ section.settings.announcement_text_color }}; background-color:{{ section.settings.announcement_background_color }};">Tiktok</span>
                 </a>
               </li>
             {% endif %}
            {% if settings.social_threads_link != blank %}
               <li>
                 <a class="icon-fallback-text" {% if section.settings.social_new_tab %} target="_blank" {% endif %} href="{{ settings.social_threads_link | escape }}" title="{{ 'layout.footer.store_on_social_network' | t: store_name: shop.name, social_network: 'Threads' | escape }}">
                   <i class="fa-brands fa-threads"></i>
                   <span class="fallback-text" style="color:{{ section.settings.announcement_text_color }}; background-color:{{ section.settings.announcement_background_color }};">Threads</span>
                 </a>
               </li>
             {% endif %}
           </ul>
          {% endif %}
        </div>
  
    </div>
</div>
{% endif %}
{% endunless %}
  
<header class="site-header" role="banner" data-section-id="{{ section.id }}" data-section-type="header-section" id="ecom-site-header">
  <div class="wrapper">

    <div class="grid--full">
      <div class="grid-item large--one-third">
        {% if request.page_type == 'index' %}
          <h1 class="header-logo" itemscope itemtype="http://schema.org/Organization">
        {% else %}
          <div class="h1 header-logo" itemscope itemtype="http://schema.org/Organization">
        {% endif %}
          {% if section.settings.logo %}
          {% capture image_size %}{{ section.settings.logo_max_height | escape }}x{% endcapture %}
          {%- assign img_url = section.settings.logo | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
          {% capture logo_alt %}{{ section.settings.logo.alt | default: shop.name }}{% endcapture %}
          <a href="{{ routes.root_url }}" itemprop="url">
            <div class="lazyload__image-wrapper no-js header-logo__image" style="max-height:{{ section.settings.logo_max_height }}px;">
                <img class="lazyload js"
                  data-src="{{ img_url }}"
                  data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                  data-aspectratio="{{ section.settings.logo.aspect_ratio }}"
                  data-sizes="auto"
                  alt="{{ logo_alt | escape }}"
                  style="height:{{ section.settings.logo_max_height }}px;">
            </div>
            <noscript>
              {% capture image_size %}{{ section.settings.logo_max_height | escape }}x{% endcapture %}
              <img src="{{ section.settings.logo | img_url: image_size }}"
                srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
                alt="{{ logo_alt | escape }}"
                itemprop="logo"
                style="max-height:{{ section.settings.logo_max_height }}px;">
            </noscript>
          </a>
          <!--- Sponsor Logo --->
          {% if section.settings.sponsor_logo %}
          {% capture image_size %}{{ section.settings.sponsor_logo_max_height | escape }}x{% endcapture %}
          {%- assign img_url = section.settings.sponsor_logo | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
          {% capture sponsor_logo_alt %}{{ section.settings.sponsor_logo.alt | default: shop.name }}{% endcapture %}
          <a href="{{ section.settings.sponsor_link }}" itemprop="url" style="margin-left:10px;" class="medium-down--hide">
            <div class="lazyload__image-wrapper no-js header-logo__image" style="max-height:{{ section.settings.sponsor_logo_max_height }}px;">
                <img class="lazyload js"
                  data-src="{{ img_url }}"
                  data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                  data-aspectratio="{{ section.settings.sponsor_logo.aspect_ratio }}"
                  data-sizes="auto"
                  alt="{{ sponsor_logo_alt | escape }}"
                  style="height:{{ section.settings.sponsor_logo_max_height }}px;">
            </div>
            <noscript>
              {% capture image_size %}{{ section.settings.sponsor_logo_max_height | escape }}x{% endcapture %}
              <img src="{{ section.settings.sponsor_logo | img_url: image_size }}"
                srcset="{{ section.settings.sponsor_logo | img_url: image_size }} 1x, {{ section.settings.sponsor_logo | img_url: image_size, scale: 2 }} 2x"
                alt="{{ sponsor_logo_alt | escape }}"
                itemprop="logo"
                style="max-height:{{ section.settingssponsor_logo_max_height }}px;">
            </noscript>
          </a>
          {% endif %}  
          {% else %}
            <a href="{{ routes.root_url }}" itemprop="url">{{ shop.name }}</a>
          {% endif %}
        {% if request.page_type == 'index' %}
          </h1>
        {% else %}
          </div>
        {% endif %}
      </div>

      {% unless section.settings.hide_search_bar or page.template_suffix contains 'dalp' %}
      <div class="grid-item large--one-third text-center large--text-right">
        {% include 'ecom-search-bar' %}
      </div>
      {% endunless %}
      
      <div class="grid-item medium-down--hide large--one-third text-right">
       
        {% if shop.customer_accounts_enabled %}
          <div class="site-header--text-links" id="ecom-header-text-links">
            
<!------------------ Contact Info Dropdown Option ------------------>
			
          <!--<div class="dropdown">
              <a href="/community/contact" class="site-nav--link dropbtn" data-meganav-type="parent" aria-controls="ecom-header-contact" aria-expanded="false" tabindex="">
              Contact
              <span class="icon icon-arrow-down" aria-hidden="true"></span>
              </a>
              <ul id="ecom-header-contact" class="dropdown-content" data-meganav-dropdown="">
               	  <li><h2>We're here to help</h2></li>
          {% if section.settings.show_phone %}
                  <li><a href="tel:{{ section.settings.header_phone | escape }}" class="site-nav--link" style="font-size: 2em;">{{ section.settings.header_phone }}</a></li>
          {% endif %}
                <div class="display-table">
                  <li class="display-table-cell"><a href="mailto:{{ section.settings.header_email | escape }}" class="site-nav--link"><i class="fa-solid fa-envelope"></i>Email Us</a></li>
                  <li class="display-table-cell"><a href="/a/pages/locations" class="site-nav--link"><i class="fa-solid fa-map-marker"></i>Locations</a></li>
                </div>
              </ul>
            </div>-->

<!-------------------------------------------------------------------->
            
       <div class="customer-sign-in">
        {% unless section.settings.hide_customer_login or page.template_suffix contains 'dalp' %}
              <i style="font-size: 24px; vertical-align: middle;" class="fa-solid fa-circle-user"></i>
              {% if shop.customer_accounts_enabled %}
                <span class="site-header--meta-links medium-down--hide">
                {% if customer %}
                   {% capture first_name %}{% endcapture %}
                    <a style="display:block;" href="{{ routes.account_url }}">Hi, {{ customer.first_name }}</a>
                  {% else %}
                    <span style="margin-right: 30px;">{{ 'layout.customer.sign_in' | t | customer_login_link }}</span>
                {% endif %}    
                </span>
              {% endif %}
            {% endunless %}  
         
         </div> 
        
        {% unless section.settings.hide_shopping_links or page.template_suffix contains 'dalp' %}
          <a href="{{ routes.cart_url }}" class="header-cart-btn ecom-cart cart-toggle" id="ecom-header-cart" aria-label="shopping cart">
            <span class="icon icon-cart"></span>
    		<span class="cart-count cart-badge--desktop">{{ cart.item_count }}</span>
          </a>
        {% endunless %}
          </div>
        {% endif %}

      </div>
    </div>
  </div>
</header>
  

  {% unless section.settings.hide_customer_login or page.template_suffix contains 'dalp' %}  
  {% if shop.customer_accounts_enabled %}
  {% if section.settings.mobile_sign_in %}
   <div class="signinmobile">
              <span class="site-header--meta-links">
                {% if customer %}
                  {% capture first_name %}<a href="{{ routes.account_url }}">{{ customer.first_name }}</a>{% endcapture %}
                  {{ 'layout.customer.logged_in_as_html' | t: first_name: first_name }} &middot; {{ 'layout.customer.log_out' | t | customer_logout_link }}
                {% else %}
                  {{ 'layout.customer.sign_in' | t | customer_login_link }}
                {% endif %}
              </span>
     </div>
    {% endif %}
    {% endif %}
  {% endunless %}


<div id="mobileNavBar" class="ecom1-mobileNavBar">
  <div class="flex-header wrapper" style="display: flex; align-items: center; padding-top: 10px; padding-bottom: 10px;">
  <div class="flex-header-item" style="width:20%">
    {% unless page.template_suffix contains 'dalp' %}<button class="menu-toggle mobileNavBar-link" aria-controls="navBar" aria-expanded="false" style="display:flex;flex-direction:column;align-items:center;justify-content:center;"><span class="icon icon-hamburger" aria-hidden="true" style="margin-right:0;"></span><span class="sr-only">Menu</span></button>{% endunless %}
  </div>
  
  <div class="flex-header-item" style="flex:auto;">
        {% if request.page_type == 'index' %}
          <h1 class="header-logo" itemscope itemtype="http://schema.org/Organization" style="display:block;">
        {% else %}
          <div class="h1 header-logo" style="display:flex;align-items:center;justify-content:center;" itemscope itemtype="http://schema.org/Organization" style="display:block;">
        {% endif %}
          {% if section.settings.logo %}
          {% capture image_size %}{{ section.settings.logo_max_height | escape }}x{% endcapture %}
          {%- assign img_url = section.settings.logo | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
          {% capture logo_alt %}{{ section.settings.logo.alt | default: shop.name }}{% endcapture %}
          <a href="{{ routes.root_url }}" itemprop="url">
            <div style="display:flex;align-items:center;justify-content:center;" class="lazyload__image-wrapper no-js header-logo__image" style="max-height:{{ section.settings.logo_max_height }}">
                <img class="lazyload js"
                  data-src="{{ img_url }}"
                  data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                  data-aspectratio="{{ section.settings.logo.aspect_ratio }}"
                  data-sizes="auto"
                  alt="{{ logo_alt | escape }}"
                  style="max-height:{{ section.settings.logo_max_height }}px;">
            </div>
            <noscript>
              {% capture image_size %}{{ section.settings.logo_max_height | escape }}x{% endcapture %}
              <img src="{{ section.settings.logo | img_url: image_size }}"
                srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
                alt="{{ logo_alt | escape }}"
                itemprop="logo"
                style="max-height:{{ section.settings.logo_max_height }}px;">
            </noscript>
          </a>
          <!--- Sponsor Logo --->
          {% if section.settings.sponsor_logo %}
          {% capture image_size %}{{ section.settings.sponsor_logo_max_height | escape }}x{% endcapture %}
          {%- assign img_url = section.settings.sponsor_logo | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
          {% capture sponsor_logo_alt %}{{ section.settings.sponsor_logo.alt | default: shop.name }}{% endcapture %}
          <a href="{{ section.settings.sponsor_link }}" itemprop="url" style="margin-left:10px;" class="medium-down--hide">
            <div class="lazyload__image-wrapper no-js header-logo__image" style="max-height:{{ section.settings.sponsor_logo_max_height }}px;">
                <img class="lazyload js"
                  data-src="{{ img_url }}"
                  data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                  data-aspectratio="{{ section.settings.sponsor_logo.aspect_ratio }}"
                  data-sizes="auto"
                  alt="{{ sponsor_logo_alt | escape }}"
                  style="height:{{ section.settings.sponsor_logo_max_height }}px;">
            </div>
            <noscript>
              {% capture image_size %}{{ section.settings.sponsor_logo_max_height | escape }}x{% endcapture %}
              <img src="{{ section.settings.sponsor_logo | img_url: image_size }}"
                srcset="{{ section.settings.sponsor_logo | img_url: image_size }} 1x, {{ section.settings.sponsor_logo | img_url: image_size, scale: 2 }} 2x"
                alt="{{ sponsor_logo_alt | escape }}"
                itemprop="logo"
                style="max-height:{{ section.settingssponsor_logo_max_height }}px;">
            </noscript>
          </a>
          {% endif %}  
          {% else %}
            <a href="{{ routes.root_url }}" itemprop="url">{{ shop.name }}</a>
          {% endif %}
        {% if request.page_type == 'index' %}
          </h1>
        {% else %}
          </div>
    {% endif %}
  </div>
  
  <div class="flex-header-item" id="shopping-links" style="width:20%;">
    {% if section.settings.hide_shopping_links %}
    	<ul id="mobile-contact-info">
        
        {% if section.settings.show_phone %}
        <li><a aria-label="phone number" href="tel:{{ section.settings.header_phone | escape }}"><span class="fa-solid fa-phone"></span></a></li>
        {% endif %}
        {% if section.settings.show_email %}
        <li><a aria-label="email" href="mailto:{{ section.settings.header_email | escape }}"><span class="fa-solid fa-envelope"></span></a></li>
        {% endif %}
        {% if section.settings.show_locations %}
        <li><a aria-label="locations" href="{{ section.settings.header_locations | escape }}"><span class="fa-solid fa-location-dot"></span></a></li>
        {% endif %}
      
      </ul>
    {% else %}
      {% unless page.template_suffix contains 'dalp' %}
        <a href="/cart" class="cart-toggle mobileNavBar-link" style="display: flex; line-height: 1.6; flex-direction: column;">
        <span class="icon icon-cart" style="line-height: 1.6;"><span class="sr-only">Cart</span></span>
        <span class="cart-count {% if cart.item_count == 0 %}hidden-count{% endif %}">{{ cart.item_count }}</span>
        </a>
      {% endunless %}
    {% endif %}
  </div>
  </div>   
  {% unless section.settings.hide_search_bar or page.template_suffix contains 'dalp' %}          
  <div id="ecom-mobile-search">
      <form id="ecom-search-bar" action="/search" method="get" class="search-bar" role="search">
    <input type="hidden" name="type" value="product">

    <input type="search" name="q" value="" placeholder="Search all products..." aria-label="Search all products...">
    <button type="submit" class="search-bar--submit icon-fallback-text">
      <span class="icon icon-search" aria-hidden="true"></span>
      <span class="fallback-text">Search</span>
    </button>
  </form>
  </div> 
  {% endunless %}          
</div>

<nav class="nav-bar" id="navBar" role="navigation">
  
  <div class="wrapper">
    {% unless page.template_suffix contains 'dalp' %}
    {% include 'mobile-nav' %}
    {% include 'site-nav' %}
    {% endunless %}
  </div>
</nav>

