{%- comment -%}
***************************************************************
PLEASE NOTE: Do not change this file! 
This theme is managed by the Replica app. 
Any manual changes may be automatically overwritten at any time.
3rd PARTY APP DEVELOPERS BEWARE WITH INSTALLS!
Modify at your own peril, a broken website is the likely result.
***************************************************************
{%- endcomment -%}

<!-- Rental Dropdown/Megamenu (Rental Collections) -->
{% comment %} Count rental collections first {% endcomment %}
{% assign rental_collection_count = 0 %}
{% for collection in collections %}
  {% if collection.metafields.newmediaretailer.for_app == 'rental' and collection.title != 'Rentals' and collection.all_products_count > 0 %}
    {% assign rental_collection_count = rental_collection_count | plus: 1 %}
  {% endif %}
{% endfor %}

{% assign use_megamenu = false %}
{% if rental_collection_count > 13 %}
  {% assign use_megamenu = true %}
{% endif %}

<li
    class="parent-nav-item site-nav--has-dropdown {% if link.active %}site-nav--active{% endif %}"
    id="{{ link.title | handleize }}"
    aria-haspopup="true"
    {% if use_megamenu %}style="position:initial;"{% endif %}>
  <a
     href="{{ link.url }}"
     class="site-nav--link parent-nav-link"
     data-meganav-type="parent"
     aria-controls="MenuRental"
     aria-expanded="false"
     {% unless request.page_type == 'index' %}{% if link.active %}aria-current="page"{% endif %}{% endunless%}>
    {{ link.title | escape }}
    <span class="icon icon-arrow-down" aria-hidden="true"></span>
  </a> 
  <ul
    id="MenuRental"
    class="site-nav--dropdown{% if use_megamenu %} megamenu{% endif %}"
    data-meganav-dropdown>
    {% if use_megamenu %}
    <a href="{{ routes.collections_url }}/rentals" style="
        font-weight: initial;
        text-decoration: underline;
    ">View all rentals</a>
    <div class="megamenu-wrap">
    {% endif %}
      {% for collection in collections %}
        {% if collection.metafields.newmediaretailer.for_app == 'rental' and collection.title != 'Rentals' and collection.all_products_count > 0 %}
          <li{% if collection.url == request.page_type %} class="site-nav--active"{% endif %}>
            <a
              href="{{ collection.url }}"
              class="site-nav--link"
              data-meganav-type="child"
              tabindex="-1">
                {{ collection.title | escape }}
            </a>
          </li>
        {% endif %}
      {% endfor %}
    {% if use_megamenu %}
    </div>
    {% endif %}
  </ul>
</li>
