<ul class="site-nav {% if section.settings.header_style == 'nav-center' %}text-center{% endif %}" id="AccessibleNav" {% if section.settings.catalyst_megamenu or section.settings.secondary_megamenu or section.settings.tertiary_megamenu != blank %}style="position:relative;"{% endif %}>
  {% for link in linklists[section.settings.menu].links %}
    {% if link.links != blank %}
      {% assign parent_index = forloop.index %}
  
      {% if link.title == section.settings.catalyst_megamenu %}
  			{% include 'category-dropdown' %}
      {% elsif link.title == section.settings.secondary_megamenu %}  
            {% include 'secondary-dropdown' %}
      {% elsif link.title == section.settings.tertiary_megamenu %}  
            {% include 'tertiary-dropdown' %}  
  	  {% else %}
  
      <li
        class="parent-nav-item site-nav--has-dropdown {% if link.active %}site-nav--active{% endif %}"
        id="{{ link.title | handleize }}"
        aria-haspopup="true">
        <a
          href="{{ link.url }}"
          class="site-nav--link parent-nav-link"
          data-meganav-type="parent"
          aria-controls="MenuParent-{{ parent_index }}"
          aria-expanded="false"
          {% unless request.page_type == 'index' %}{% if link.active %}aria-current="page"{% endif %}{% endunless%}>
            {{ link.title | escape }}
            <span class="icon icon-arrow-down" aria-hidden="true"></span>
        </a>
        <ul
          id="MenuParent-{{ parent_index }}"
          class="site-nav--dropdown {% if link.levels == 2 %}site-nav--has-grandchildren{% endif %}"
          data-meganav-dropdown>
          {% for childlink in link.links %}
            {% if childlink.links != blank %}
            {% assign child_index = forloop.index %}
              <li
                class="site-nav--has-dropdown site-nav--has-dropdown-grandchild {% if childlink.active %}site-nav--active{% endif %}"
                aria-haspopup="true">
                <a
                  href="{{ childlink.url }}"
                  class="site-nav--link"
                  aria-controls="MenuChildren-{{ parent_index }}-{{ child_index }}"
                  data-meganav-type="parent"
                  {% unless request.page_type == 'index' %}{% if childlink.active %}aria-current="page"{% endif %}{% endunless%}
                  tabindex="-1">
                    {{ childlink.title | escape }}
                    <span class="icon icon-arrow-down" aria-hidden="true"></span>
                </a>
                <ul
                  id="MenuChildren-{{ parent_index }}-{{ child_index }}"
                  class="site-nav--dropdown-grandchild"
                  data-meganav-dropdown>
                  {% for grandchildlink in childlink.links %}
                    <li{% if grandchildlink.active %} class="site-nav--active"{% endif %}>
                      <a
                        href="{{ grandchildlink.url }}"
                        class="site-nav--link"
                        data-meganav-type="child"
                        {% unless request.page_type == 'index' %}{% if grandchildlink.active %}aria-current="page"{% endif %}{% endunless %}
                        tabindex="-1">
                          {{ grandchildlink.title | escape }}
                        </a>
                    </li>
                  {% endfor %}
                </ul>
              </li>
            {% else %}
              <li{% if childlink.active %} class="site-nav--active"{% endif %}>
                <a
                  href="{{ childlink.url }}"
                  class="site-nav--link"
                  data-meganav-type="child"
                  {% if childlink.active %}aria-current="page"{% endif %}
                  tabindex="-1">
                    {{ childlink.title | escape }}
                </a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </li>
      {% endif %}
    {% else %}
  
      {% if link.title == section.settings.catalyst_dropdown %}
  			{% include 'category-dropdown' %}
  	  {% else %}
      <li class="parent-nav-item{% if link.active %} site-nav--active{% endif %}">
        <a
          href="{{ link.url }}"
          class="site-nav--link parent-nav-link"
          data-meganav-type="child"
          {% unless request.page_type == 'index' %}{% if link.active %}aria-current="page"{% endif %}{% endunless%}>
            {{ link.title | escape }}
        </a>
      </li>
      {% endif %}
    {% endif %}
  {% endfor %}
  

  {% if shop.customer_accounts_enabled %}
    {% if customer %}
      <li class="customer-navlink large--hide"><a href="{{ routes.account_url }}">{{ 'layout.customer.view_account' | t }}</a></li>
      <li class="customer-navlink large--hide">{{ 'layout.customer.log_out' | t | customer_logout_link }}</li>
    {% else %}
      <li class="customer-navlink large--hide">{{ 'layout.customer.sign_in' | t | customer_login_link }}</li>
      <li class="customer-navlink large--hide">{{ 'layout.customer.create_account' | t | customer_register_link }}</li>
    {% endif %}
  {% endif %}
</ul>


<style>
  .site-nav .parent-nav-item:nth-child({{ section.settings.nav_highlight_target}} ) {
    background-color:{{ section.settings.nav_highlight_background }};
    color:{{ section.settings.nav_highlight_color }}
  }
  .site-nav .parent-nav-item:nth-child({{ section.settings.nav_highlight_target}}) .parent-nav-link{
    color:{{ section.settings.nav_highlight_color }};
  }
  
  .site-nav .parent-nav-item:nth-child({{ section.settings.nav_highlight_target}}) .parent-nav-link::before {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font: var(--fa-font-solid);
    font-weight: 900; 
    content: "\{{ section.settings.nav_highlight_icon }}";
    margin-right:2px;
    }
</style>



