{%- comment -%}
***************************************************************
PLEASE NOTE: Do not change this file! 
This theme is managed by the Replica app. 
Any manual changes may be automatically overwritten at any time.
3rd PARTY APP DEVELOPERS BEWARE WITH INSTALLS!
Modify at your own peril, a broken website is the likely result.
***************************************************************
{%- endcomment -%}

<div class="rich-text">
  <hr>
  {% if section.settings.section_title != blank %}
    <div class="section-header rich-text__heading">
      <p class="h2 text-center">{{ section.settings.section_title | escape }}</p>
    </div>
  {% endif %}
  {% if section.settings.text != blank %}
    <div class="rte text-center">
      {{ section.settings.text }}
    </div>
  {% endif %}
  <div class="custom-content">
  {% for block in section.blocks %}
    {% case block.settings.width %}
      {% when '25%' %}
        {%- assign block_width = 'small--one-whole one-quarter' -%}
      {% when '33%' %}
        {%- assign block_width = 'small--one-whole one-third' -%}
      {% when '50%' %}
        {%- assign block_width = 'small--one-whole one-half' -%}
      {% when '66%' %}
        {%- assign block_width = 'small--one-whole two-thirds' -%}
      {% when '75%' %}
        {%- assign block_width = 'small--one-whole three-quarters' -%}
      {% when '100%' %}
        {%- assign block_width = 'one-whole' -%}
    {% endcase %}
    <div class="custom__item {{ block_width }} {% if block.settings.alignment %}align--{{ block.settings.alignment }}{% endif %}" {{ block.shopify_attributes }}>
      <div class="custom__item-inner custom__item-inner--{{ block.type }}">
        {% case block.type %}
          {% when 'html' %}
            {% if block.settings.code != blank %}
              <div class="rte {% if block.settings.hidden_mobile %}hide-mobile{% endif %}" data-section-id="{{ section.id }}" data-section-type="featured-content-section">
                {{ block.settings.code }}
              </div>
            {% else %}
              <div class="rte text-center">
                {{ 'homepage.onboarding.no_content' | t }}
              </div>
            {% endif %}
        {% endcase %}
      </div>
    </div>
  {% endfor %}
  {% if section.blocks.size == 0 %}
    <div class="wrapper">
      <div class="grid">
        <div class="grid__item">
         <!-- <div class="rte text-center">
            {{ 'homepage.onboarding.no_content' | t }}
          </div>-->
        </div>
      </div>
   </div>
  {% endif %}
  </div>
</div>



{% schema %}
{
  "name": {
    "da": "RTF",
    "de": "Rich Text",
    "en": "Rich text",
    "es": "Texto enriquecido",
    "fi": "Rich text",
    "fr": "Texte enrichi",
    "hi": "रिच टेक्स्ट",
    "it": "Rich text",
    "ja": "リッチテキスト",
    "ko": "Rich text",
    "nb": "Rich text",
    "nl": "Tekst met opmaak",
    "pt-BR": "Rich text",
    "pt-PT": "Texto formatado",
    "sv": "Rich text",
    "th": "Rich Text",
    "zh-CN": "格式文本",
    "zh-TW": "RTF 文字"
  },
  "settings": [
    {
      "type": "text",
      "id": "section_title",
      "label": {
        "da": "Overskrift",
        "de": "Titel",
        "en": "Heading",
        "es": "Título",
        "fi": "Otsake",
        "fr": "Titre",
        "hi": "शीर्षक",
        "it": "Heading",
        "ja": "見出し",
        "ko": "제목",
        "nb": "Overskrift",
        "nl": "Kop",
        "pt-BR": "Título",
        "pt-PT": "Título",
        "sv": "Rubrik",
        "th": "ส่วนหัว",
        "zh-CN": "标题",
        "zh-TW": "標題"
      },
      "default": {
        "da": "Fortæl om dit brand",
        "de": "Über Ihre Marke sprechen",
        "en": "Talk about your brand",
        "es": "Habla de tu marca",
        "fi": "Kerro brändistäsi",
        "fr": "Parler de votre marque",
        "hi": "अपने ब्रांड के बारे में बात करें",
        "it": "Parla del tuo brand",
        "ja": "あなたのブランドについて語る",
        "ko": "브랜드에 대해 이야기하기",
        "nb": "Snakk om merkevaren din",
        "nl": "Vertel over uw merk",
        "pt-BR": "Fale sobre a sua marca",
        "pt-PT": "Fale sobre a sua marca",
        "sv": "Prata om ditt varumärke",
        "th": "พูดถึงแบรนด์ของคุณ",
        "zh-CN": "介绍您的品牌",
        "zh-TW": "描述您的品牌"
      }
    },
    {
      "type": "richtext",
      "id": "text",
      "label": {
        "da": "Tekst",
        "de": "Text",
        "en": "Text",
        "es": "Texto",
        "fi": "Teksti",
        "fr": "Texte",
        "hi": "टेक्स्ट",
        "it": "Testo",
        "ja": "テキスト",
        "ko": "텍스트",
        "nb": "Tekst",
        "nl": "Tekst",
        "pt-BR": "Texto",
        "pt-PT": "Texto",
        "sv": "Text",
        "th": "ข้อความ",
        "zh-CN": "文本",
        "zh-TW": "文字"
      },
      "default": {
        "da": "<p>Brug denne tekst til at dele oplysninger om dit brand med dine kunder. Beskriv et produkt, del meddelelser, eller byd kunder velkommen til din butik.</p>",
        "de": "<p>Nutzen Sie diesen Text, um Infos über Ihre Marke mitzuteilen. Beschreiben Sie ein Produkt, kündigen Sie etwas an oder heißen Sie Kunden willkommen.</p>",
        "en": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>",
        "es": "<p>Usa este texto para compartir información sobre tu marca con tus clientes. Describe un producto, comparte anuncios o recibe clientes en tu tienda.</p>",
        "fi": "<p>Tämän tekstin avulla voit jakaa brändiäsi koskevia tietoja asiakkaille. Kuvaile tuotetta, jaa ilmoituksia tai toivota asiakkaat tervetulleiksi kauppaasi.</p>",
        "fr": "<p>Utilisez ce texte pour partager des informations sur votre marque. Décrivez un produit, partagez des annonces, ou souhaitez la bienvenue à vos clients.</p>",
        "hi": "<p>अपने ग्राहकों के साथ अपने ब्रांड के बारे में जानकारी शेयर करने के लिए इस टेक्स्ट का उपयोग करें. उत्पाद का वर्णन करें, घोषणाओं को शेयर करें या अपने स्टोर में ग्राहकों का स्वागत करें.</p>",
        "it": "<p>Utilizza questo testo per condividere le informazioni sul tuo brand con i clienti. Descrivi un prodotto, condividi gli annunci o dai il benvenuto ai clienti nel tuo negozio.</p>",
        "ja": "<p>このテキストを使用して、あなたのブランドに関する情報をお客様と共有します。商品を説明したり、告知の共有をしたり、あるいはあなたのストアのお客様を歓迎します。</p>",
        "ko": "<p>이 텍스트를 사용하여 고객과 브랜드에 대한 정보를 공유하십시오. 제품 설명, 공지 사항 공유 또는 고객의 스토어 방문을 환영합니다.</p>",
        "nb": "<p>Bruk denne teksten for å dele informasjon om merkevaren med kundene dine. Beskriv et produkt, del kunngjøringer eller ønsk kunder velkommen til butikken din.</p>",
        "nl": "<p>Gebruik deze tekst om informatie over uw merk te delen met uw klanten. Beschrijf een product, deel aankondigingen of verwelkom klanten in uw winkel.</p>",
        "pt-BR": "<p>Use este texto para compartilhar informações sobre sua marca com seus clientes. Descreva um produto, compartilhe novidades ou receba os clientes em sua loja.</p>",
        "pt-PT": "<p>Utilize este texto para partilhar informações sobre a sua marca com seus clientes. Descreva um produto, partilhe comunicados ou receba clientes na sua loja.</p>",
        "sv": "<p>Använd den här texten för att dela information om ditt varumärke med dina kunder. Beskriv en produkt, dela meddelanden eller välkomna kunder till din butik.</p>",
        "th": "<p>ใช้ข้อความนี้ในการแชร์ข้อมูลเกี่ยวกับแบรนด์ของคุณกับลูกค้าของคุณ อธิบายคุณสมบัติของสินค้า แชร์ประกาศ หรือต้อนรับลูกค้าสู่ร้านค้าของคุณ</p>",
        "zh-CN": "<p>使用此文本与您的客户分享有关您品牌的信息。描述产品、分享公告或欢迎客户访问您的商店。</p>",
        "zh-TW": "<p>您可以用這段文字和顧客分享品牌資訊、描述產品、分享公告，或歡迎顧客光臨您的商店。</p>"
      }
    }
  ],
    "blocks": [
    {
      "type": "html",
      "name": {
        "da": "Tilpasset HTML",
        "de": "Benutzerdefiniertes HTML",
        "en": "Elf Sight Snippet",
        "es": "HTML personalizado",
        "fi": "Mukautettu HTML",
        "fr": "Code HTML personnalisé",
        "hi": "कस्टम HTML",
        "it": "HTML personalizzato",
        "ja": "HTMLをカスタムする",
        "ko": "사용자 지정 HTML",
        "nb": "Tilpasset HTML",
        "nl": "Aangepaste HTML",
        "pt-BR": "HTML personalizado",
        "pt-PT": "HTML personalizado",
        "sv": "Anpassa HTML",
        "th": "HTML แบบกำหนดเอง",
        "zh-CN": "自定义 HTML",
        "zh-TW": "自訂 HTML"
      },
      "settings": [
        {
          "type": "html",
          "id": "code",
          "label": {
            "da": "HTML",
            "de": "HTML",
            "en": "HTML",
            "es": "HTML",
            "fi": "HTML",
            "fr": "HTML",
            "hi": "HTML",
            "it": "HTML",
            "ja": "HTML",
            "ko": "HTML",
            "nb": "HTML",
            "nl": "HTML",
            "pt-BR": "HTML",
            "pt-PT": "HTML",
            "sv": "HTML",
            "th": "HTML",
            "zh-CN": "HTML",
            "zh-TW": "HTML"
          },
          "default": {
            "en": "<div style='text-align:center;'><h2>Upload elf sight reviews snippet here</div>"
          }
        },
		{
          "type": "checkbox",
          "id": "hidden_mobile",
          "label": {
            "en": "Hide mobile"
          },
          "default": false
        },
        {
          "type": "select",
          "id": "width",
          "label": {
            "da": "Containerbredde",
            "de": "Containerbreite",
            "en": "Container width",
            "es": "Ancho del contenedor",
            "fi": "Säiliön leveys",
            "fr": "Largeur du conteneur",
            "hi": "कंटेनर की चौड़ाई",
            "it": "Larghezza contenitore",
            "ja": "コンテナーの幅",
            "ko": "컨테이너 폭",
            "nb": "Beholderbredde",
            "nl": "Containerbreedte",
            "pt-BR": "Largura do contêiner",
            "pt-PT": "Largura do recipiente",
            "sv": "Container-bredd",
            "th": "ความกว้างของความจุ",
            "zh-CN": "容器宽度",
            "zh-TW": "容器寬度"
          },
          "default": "100%",
          "options": [
            {
              "value": "25%",
              "label": {
                "da": "25 %",
                "de": "25 %",
                "en": "25%",
                "es": "25%",
                "fi": "25 %",
                "fr": "25 %",
                "hi": "25%",
                "it": "25%",
                "ja": "25%",
                "ko": "25%",
                "nb": "25 %",
                "nl": "25%",
                "pt-BR": "25%",
                "pt-PT": "25%",
                "sv": "25 %",
                "th": "25%",
                "zh-CN": "25％",
                "zh-TW": "25%"
              }
            },
            {
              "value": "33%",
              "label": {
                "da": "33 %",
                "de": "33 %",
                "en": "33%",
                "es": "33%",
                "fi": "33 %",
                "fr": "33 %",
                "hi": "33%",
                "it": "33%",
                "ja": "33%",
                "ko": "33%",
                "nb": "33 %",
                "nl": "33%",
                "pt-BR": "33%",
                "pt-PT": "33%",
                "sv": "33 %",
                "th": "33%",
                "zh-CN": "33%",
                "zh-TW": "33%"
              }
            },
            {
              "value": "50%",
              "label": {
                "da": "50 %",
                "de": "50 %",
                "en": "50%",
                "es": "50%",
                "fi": "50 %",
                "fr": "50 %",
                "hi": "50%",
                "it": "50%",
                "ja": "50%",
                "ko": "50%",
                "nb": "50 %",
                "nl": "50%",
                "pt-BR": "50%",
                "pt-PT": "50%",
                "sv": "50 %",
                "th": "50%",
                "zh-CN": "50%",
                "zh-TW": "50%"
              }
            },
            {
              "value": "66%",
              "label": {
                "da": "66 %",
                "de": "66 %",
                "en": "66%",
                "es": "66%",
                "fi": "66 %",
                "fr": "66 %",
                "hi": "66%",
                "it": "66%",
                "ja": "66%",
                "ko": "66%",
                "nb": "66 %",
                "nl": "66%",
                "pt-BR": "66%",
                "pt-PT": "66%",
                "sv": "66 %",
                "th": "66%",
                "zh-CN": "66%",
                "zh-TW": "66%"
              }
            },
            {
              "value": "75%",
              "label": {
                "da": "75 %",
                "de": "75 %",
                "en": "75%",
                "es": "75%",
                "fi": "75 %",
                "fr": "75 %",
                "hi": "75%",
                "it": "75%",
                "ja": "75%",
                "ko": "75%",
                "nb": "75 %",
                "nl": "75%",
                "pt-BR": "75%",
                "pt-PT": "75%",
                "sv": "75 %",
                "th": "75%",
                "zh-CN": "75%",
                "zh-TW": "75%"
              }
            },
            {
              "value": "100%",
              "label": {
                "da": "100 %",
                "de": "100 %",
                "en": "100%",
                "es": "100%",
                "fi": "100 %",
                "fr": "100 %",
                "hi": "100%",
                "it": "100%",
                "ja": "100%",
                "ko": "100%",
                "nb": "100 %",
                "nl": "100%",
                "pt-BR": "100%",
                "pt-PT": "100%",
                "sv": "100 %",
                "th": "100%",
                "zh-CN": "100%",
                "zh-TW": "100%"
              }
            }
          ]
        },
        {
          "type": "select",
          "id": "alignment",
          "label": {
            "da": "Lodret justering",
            "de": "Vertikale Ausrichtung",
            "en": "Vertical alignment",
            "es": "Alineación vertical",
            "fi": "Pystysuuntainen tasaus",
            "fr": "Alignement vertical",
            "hi": "लंबवत पंक्तिबद्धता",
            "it": "Allineamento verticale",
            "ja": "垂直アラインメント",
            "ko": "수직 정렬",
            "nb": "Vertikal justering",
            "nl": "Verticaal uitlijnen",
            "pt-BR": "Alinhamento vertical",
            "pt-PT": "Alinhamento vertical",
            "sv": "Vertikal justering",
            "th": "การจัดวางแนวตั้ง",
            "zh-CN": "垂直对齐",
            "zh-TW": "垂直對齊"
          },
          "default": "top-middle",
          "options": [
            {
              "value": "top-middle",
              "label": {
                "da": "Top",
                "de": "Oben",
                "en": "Top",
                "es": "Superior",
                "fi": "Ylös",
                "fr": "En haut",
                "hi": "सबसे ऊपर",
                "it": "In alto",
                "ja": "上",
                "ko": "위쪽",
                "nb": "Topp",
                "nl": "Boven",
                "pt-BR": "Acima",
                "pt-PT": "Acima",
                "sv": "Högst upp",
                "th": "ด้านบน",
                "zh-CN": "顶部",
                "zh-TW": "頂部"
              }
            },
            {
              "value": "center",
              "label": {
                "da": "I midten",
                "de": "Mittig",
                "en": "Middle",
                "es": "Centrada",
                "fi": "Keskelle",
                "fr": "Au milieu",
                "hi": "मध्य में",
                "it": "Al centro",
                "ja": "中央",
                "ko": "중간",
                "nb": "Midten",
                "nl": "Midden",
                "pt-BR": "Meio",
                "pt-PT": "Centro",
                "sv": "Mitten",
                "th": "ตรงกลาง",
                "zh-CN": "中间",
                "zh-TW": "中央"
              }
            },
            {
              "value": "bottom-middle",
              "label": {
                "da": "Bund",
                "de": "Unten",
                "en": "Bottom",
                "es": "Inferior",
                "fi": "Alas",
                "fr": "En bas",
                "hi": "नीचे का",
                "it": "In basso",
                "ja": "下",
                "ko": "아래쪽",
                "nb": "Bunn",
                "nl": "Onder",
                "pt-BR": "Abaixo",
                "pt-PT": "Abaixo",
                "sv": "Längst ner",
                "th": "ด้านล่าง",
                "zh-CN": "底部",
                "zh-TW": "底部"
              }
            }
          ]
        }
      ]
    }
  ],
  "presets": [
    {
      "name": {
        "da": "RTF",
        "de": "Rich Text",
        "en": "Rich text",
        "es": "Texto enriquecido",
        "fi": "Rich text",
        "fr": "Texte enrichi",
        "hi": "रिच टेक्स्ट",
        "it": "Rich text",
        "ja": "リッチテキスト",
        "ko": "서식있는 텍스트",
        "nb": "Rich text",
        "nl": "Tekst met opmaak",
        "pt-BR": "Rich text",
        "pt-PT": "Texto formatado",
        "sv": "Rich text",
        "th": "Rich Text",
        "zh-CN": "格式文本",
        "zh-TW": "RTF 文字"
      },
      "category": {
        "da": "Tekst",
        "de": "Text",
        "en": "Text",
        "es": "Texto",
        "fi": "Teksti",
        "fr": "Texte",
        "hi": "टेक्स्ट",
        "it": "Testo",
        "ja": "テキスト",
        "ko": "텍스트",
        "nb": "Tekst",
        "nl": "Tekst",
        "pt-BR": "Texto",
        "pt-PT": "Texto",
        "sv": "Text",
        "th": "ข้อความ",
        "zh-CN": "文本",
        "zh-TW": "文字"
      }
    }
  ]
}
{% endschema %}
