{%- comment -%}
***************************************************************
PLEASE NOTE: Do not change this file! 
This theme is managed by the Replica app. 
Any manual changes may be automatically overwritten at any time.
3rd PARTY APP DEVELOPERS BEWARE WITH INSTALLS!
Modify at your own peril, a broken website is the likely result.
***************************************************************
{%- endcomment -%}

{% assign block_1 = section.blocks[0] %}
{% assign block_2 = section.blocks[1] %}
{% assign block_3 = section.blocks[2] %}
{% assign block_4 = section.blocks[3] %}
{% assign block_5 = section.blocks[4] %}
{% assign block_6 = section.blocks[5] %}
{% assign blockCount =  section.blocks | size %}


<div data-count= "{{blockCount}}" data-section-id="{{ section.id }}" data-section-type="featured-images-section">
<div class="section-{{section.id}}">
  <hr>
    {% if section.settings.highlights_title != blank %}
    <div class="section-header">
      <h2 class="h2 section-header--left">
        {{  section.settings.highlights_title }}
    </h2>
    </div>
    {% endif %}

  <div class="grid-uniform text-center">
    {% if blockCount == 2 %}
    	<div class="grid-item small--one-whole medium--one-half large--one-half">
            {% if block_1.settings.icon_link != blank %}
              <a href="{{ block_1.settings.icon_link }}" title="{{ block_1.settings.icon_title }}" {% if block_1.settings.new_window == true %}target="_blank"{% endif %}>
            {% endif %}
            <div {% if section.settings.round_icons == true %}class="highlight-round"{% endif %} class="highlight-square"> 
              <i class="fa-solid fa-{{ block_1.settings.icon_code }}" style="color:{{ section.settings.icon_color }};background:{{ section.settings.icon_background_color }};border-color:{{ section.settings.icon_border_color }}"></i>
              <h3 style="color:{{ section.settings.color }};">{{ block_1.settings.icon_title }}</h3>
              {% if block_1.settings.icon_description %}
              <p style="color:{{ section.settings.color }};">{{ block_1.settings.icon_description }}</p>
              {% endif %}
        	</div>
            {% if block_1.settings.icon_link != blank %}
              </a>
            {% endif %}
       	</div>
        <div class="grid-item small--one-whole medium--one-half large--one-half">
          {% if block_2.settings.icon_link != blank %}
            <a href="{{ block_2.settings.icon_link }}" title="{{ block_2.settings.icon_title }}" {% if block_2.settings.new_window == true %}target="_blank"{% endif %}> 
          {% endif %}
            <div {% if section.settings.round_icons == true %}class="highlight-round"{% endif %} class="highlight-square">  			
              <i class="fa-solid fa-{{ block_2.settings.icon_code }}" style="color:{{ section.settings.icon_color }};background:{{ section.settings.icon_background_color }};border-color:{{ section.settings.icon_border_color }}"></i>
              <h3 style="color:{{ section.settings.color }};">{{ block_2.settings.icon_title }}</h3>
              {% if block_2.settings.icon_description %}
              <p style="color:{{ section.settings.color }};">{{ block_2.settings.icon_description }}</p>
              {% endif %}              
        	</div>
          {% if block_2.settings.icon_link != blank %}
			</a>
          {% endif %}
       	</div>
    {% elsif blockCount == 3 %}
    	<div class="grid-item small--one-whole medium--one-third large--one-third">
          {% if block_1.settings.icon_link != blank %}
            <a href="{{ block_1.settings.icon_link }}" title="{{ block_1.settings.icon_title }}" {% if block_1.settings.new_window == true %}target="_blank"{% endif %}> 
          {% endif %}
            <div {% if section.settings.round_icons == true %}class="highlight-round"{% endif %} class="highlight-square">  			
              <i class="fa-solid fa-{{ block_1.settings.icon_code }}" style="color:{{ section.settings.icon_color }};background:{{ section.settings.icon_background_color }};border-color:{{ section.settings.icon_border_color }}"></i>
              <h3 style="color:{{ section.settings.color }};">{{ block_1.settings.icon_title }}</h3>
              {% if block_1.settings.icon_description %}
              <p style="color:{{ section.settings.color }};">{{ block_1.settings.icon_description }}</p>
              {% endif %}              
        	</div>
          {% if block_1.settings.icon_link != blank %}
			</a>
          {% endif %}
       	</div>
        <div class="grid-item small--one-whole medium--one-third large--one-third">
          {% if block_2.settings.icon_link != blank %}
            <a href="{{ block_2.settings.icon_link }}" title="{{ block_2.settings.icon_title }}" {% if block_2.settings.new_window == true %}target="_blank"{% endif %}> 
          {% endif %}
            <div {% if section.settings.round_icons == true %}class="highlight-round"{% endif %} class="highlight-square">  			
              <i class="fa-solid fa-{{ block_2.settings.icon_code }}" style="color:{{ section.settings.icon_color }};background:{{ section.settings.icon_background_color }};border-color:{{ section.settings.icon_border_color }}"></i>
              <h3 style="color:{{ section.settings.color }};">{{ block_2.settings.icon_title }}</h3>
              {% if block_2.settings.icon_description %}
              <p style="color:{{ section.settings.color }};">{{ block_2.settings.icon_description }}</p>
              {% endif %}              
        	</div>
          {% if block_2.settings.icon_link != blank %}
			</a>
          {% endif %}
       	</div>
        <div class="grid-item small--one-whole medium--one-third large--one-third highlight-square-space">
          {% if block_3.settings.icon_link != blank %}
            <a href="{{ block_3.settings.icon_link }}" title="{{ block_3.settings.icon_title }}" {% if block_3.settings.new_window == true %}target="_blank"{% endif %}> 
          {% endif %}
            <div {% if section.settings.round_icons == true %}class="highlight-round"{% endif %} class="highlight-square">  			
              <i class="fa-solid fa-{{ block_3.settings.icon_code }}" style="color:{{ section.settings.icon_color }};background:{{ section.settings.icon_background_color }};border-color:{{ section.settings.icon_border_color }}"></i>
              <h3 style="color:{{ section.settings.color }};">{{ block_3.settings.icon_title }}</h3>
              {% if block_3.settings.icon_description %}
              <p style="color:{{ section.settings.color }};">{{ block_3.settings.icon_description }}</p>
              {% endif %}              
        	</div>
          {% if block_3.settings.icon_link != blank %}     
            </a>
          {% endif %}
       	</div>
    {% elsif blockCount == 4 %}
    	<div class="grid-item small--one-half medium--one-quarter large--one-quarter">
          {% if block_1.settings.icon_link != blank %}
            <a href="{{ block_1.settings.icon_link }}" title="{{ block_1.settings.icon_title }}" {% if block_1.settings.new_window == true %}target="_blank"{% endif %}> 
          {% endif %}
            <div {% if section.settings.round_icons == true %}class="highlight-round"{% endif %} class="highlight-square">  			
              <i class="fa-solid fa-{{ block_1.settings.icon_code }}" style="color:{{ section.settings.icon_color }};background:{{ section.settings.icon_background_color }};border-color:{{ section.settings.icon_border_color }}"></i>
              <h3 style="color:{{ section.settings.color }};">{{ block_1.settings.icon_title }}</h3>
              {% if block_1.settings.icon_description %}
              <p style="color:{{ section.settings.color }};">{{ block_1.settings.icon_description }}</p>
              {% endif %}              
        	</div>
          {% if block_1.settings.icon_link != blank %}     
            </a>
          {% endif %}
       	</div>
        <div class="grid-item small--one-half medium--one-quarter large--one-quarter">
          {% if block_2.settings.icon_link != blank %}
            <a href="{{ block_2.settings.icon_link }}" title="{{ block_2.settings.icon_title }}" {% if block_2.settings.new_window == true %}target="_blank"{% endif %}> 
          {% endif %}
            <div {% if section.settings.round_icons == true %}class="highlight-round"{% endif %} class="highlight-square">  			
              <i class="fa-solid fa-{{ block_2.settings.icon_code }}" style="color:{{ section.settings.icon_color }};background:{{ section.settings.icon_background_color }};border-color:{{ section.settings.icon_border_color }}"></i>
              <h3 style="color:{{ section.settings.color }};">{{ block_2.settings.icon_title }}</h3>
              {% if block_2.settings.icon_description %}
              <p style="color:{{ section.settings.color }};">{{ block_2.settings.icon_description }}</p>
              {% endif %}              
        	</div>
          {% if block_2.settings.icon_link != blank %}     
            </a>
          {% endif %}
       	</div>
        <div class="grid-item small--one-half medium--one-quarter large--one-quarter highlight-square-space">
          {% if block_3.settings.icon_link != blank %}
            <a href="{{ block_3.settings.icon_link }}" title="{{ block_3.settings.icon_title }}" {% if block_3.settings.new_window == true %}target="_blank"{% endif %}> 
          {% endif %}
            <div {% if section.settings.round_icons == true %}class="highlight-round"{% endif %} class="highlight-square">  			
              <i class="fa-solid fa-{{ block_3.settings.icon_code }}" style="color:{{ section.settings.icon_color }};background:{{ section.settings.icon_background_color }};border-color:{{ section.settings.icon_border_color }}"></i>
              <h3 style="color:{{ section.settings.color }};">{{ block_3.settings.icon_title }}</h3>
              {% if block_3.settings.icon_description %}
              <p style="color:{{ section.settings.color }};">{{ block_3.settings.icon_description }}</p>
              {% endif %}              
        	</div>
          {% if block_3.settings.icon_link != blank %}     
            </a>
          {% endif %}
       	</div>
        <div class="grid-item small--one-half medium--one-quarter large--one-quarter highlight-square-space">
          {% if block_4.settings.icon_link != blank %}
            <a href="{{ block_4.settings.icon_link }}" title="{{ block_4.settings.icon_title }}" {% if block_4.settings.new_window == true %}target="_blank"{% endif %}> 
          {% endif %}
            <div {% if section.settings.round_icons == true %}class="highlight-round"{% endif %} class="highlight-square">  			
              <i class="fa-solid fa-{{ block_4.settings.icon_code }}" style="color:{{ section.settings.icon_color }};background:{{ section.settings.icon_background_color }};border-color:{{ section.settings.icon_border_color }}"></i>
              <h3 style="color:{{ section.settings.color }};">{{ block_4.settings.icon_title }}</h3>
              {% if block_4.settings.icon_description %}
              <p style="color:{{ section.settings.color }};">{{ block_4.settings.icon_description }}</p>
              {% endif %}              
        	</div>
          {% if block_4.settings.icon_link != blank %}     
            </a>
          {% endif %}
       	</div>
     {% elsif blockCount == 5 %}
       <div class="grid-item small--one-half medium--one-third large--one-fifth">
          {% if block_1.settings.icon_link != blank %}
            <a href="{{ block_1.settings.icon_link }}" title="{{ block_1.settings.icon_title }}" {% if block_1.settings.new_window == true %}target="_blank"{% endif %}>
          {% endif %}
            <div {% if section.settings.round_icons == true %}class="highlight-round"{% endif %} class="highlight-square">  			
              <i class="fa-solid fa-{{ block_1.settings.icon_code }}" style="color:{{ section.settings.icon_color }};background:{{ section.settings.icon_background_color }};border-color:{{ section.settings.icon_border_color }}"></i>
              <h3 style="color:{{ section.settings.color }};">{{ block_1.settings.icon_title }}</h3>
              {% if block_1.settings.icon_description %}
              <p style="color:{{ section.settings.color }};">{{ block_1.settings.icon_description }}</p>
              {% endif %}              
        	</div>
          {% if block_1.settings.icon_link != blank %}     
            </a>
          {% endif %}
       	</div>
        <div class="grid-item small--one-half medium--one-third large--one-fifth">
          {% if block_2.settings.icon_link != blank %}
            <a href="{{ block_2.settings.icon_link }}" title="{{ block_2.settings.icon_title }}" {% if block_2.settings.new_window == true %}target="_blank"{% endif %}> 
          {% endif %}
            <div {% if section.settings.round_icons == true %}class="highlight-round"{% endif %} class="highlight-square">  			
              <i class="fa-solid fa-{{ block_2.settings.icon_code }}" style="color:{{ section.settings.icon_color }};background:{{ section.settings.icon_background_color }};border-color:{{ section.settings.icon_border_color }}"></i>
              <h3 style="color:{{ section.settings.color }};">{{ block_2.settings.icon_title }}</h3>
              {% if block_2.settings.icon_description %}
              <p style="color:{{ section.settings.color }};">{{ block_2.settings.icon_description }}</p>
              {% endif %}              
        	</div>
          {% if block_2.settings.icon_link != blank %}     
            </a>
          {% endif %}
       	</div>
        <div class="grid-item small--one-half medium--one-third large--one-fifth highlight-square-space">
          {% if block_3.settings.icon_link != blank %}
            <a href="{{ block_3.settings.icon_link }}" title="{{ block_3.settings.icon_title }}" {% if block_3.settings.new_window == true %}target="_blank"{% endif %}> 
          {% endif %}
            <div {% if section.settings.round_icons == true %}class="highlight-round"{% endif %} class="highlight-square">  			
              <i class="fa-solid fa-{{ block_3.settings.icon_code }}" style="color:{{ section.settings.icon_color }};background:{{ section.settings.icon_background_color }};border-color:{{ section.settings.icon_border_color }}"></i>
              <h3 style="color:{{ section.settings.color }};">{{ block_3.settings.icon_title }}</h3>
              {% if block_3.settings.icon_description %}
              <p style="color:{{ section.settings.color }};">{{ block_3.settings.icon_description }}</p>
              {% endif %}              
        	</div>
          {% if block_3.settings.icon_link != blank %}     
            </a>
          {% endif %}
       	</div>
        <div class="grid-item small--one-half medium--one-half large--one-fifth highlight-square-space">
          {% if block_4.settings.icon_link != blank %}
            <a href="{{ block_4.settings.icon_link }}" title="{{ block_4.settings.icon_title }}" {% if block.settings.new_window == true %}target="_blank"{% endif %}> 
          {% endif %}
            <div {% if section.settings.round_icons == true %}class="highlight-round"{% endif %} class="highlight-square">  			
              <i class="fa-solid fa-{{ block_4.settings.icon_code }}" style="color:{{ section.settings.icon_color }};background:{{ section.settings.icon_background_color }};border-color:{{ section.settings.icon_border_color }}"></i>
              <h3 style="color:{{ section.settings.color }};">{{ block_4.settings.icon_title }}</h3>
              {% if block_4.settings.icon_description %}
              <p style="color:{{ section.settings.color }};">{{ block_4.settings.icon_description }}</p>
              {% endif %}              
        	</div>
          {% if block_4.settings.icon_link != blank %}     
            </a>
          {% endif %}
       	</div>
        <div class="grid-item small--one-half medium--one-half large--one-fifth highlight-square-space">
          {% if block_5.settings.icon_link != blank %}
            <a href="{{ block_5.settings.icon_link }}" title="{{ block_5.settings.icon_title }}" {% if block_5.settings.new_window == true %}target="_blank"{% endif %}> 
          {% endif %}
            <div {% if section.settings.round_icons == true %}class="highlight-round"{% endif %} class="highlight-square">  			
              <i class="fa-solid fa-{{ block_5.settings.icon_code }}" style="color:{{ section.settings.icon_color }};background:{{ section.settings.icon_background_color }};border-color:{{ section.settings.icon_border_color }}"></i>
              <h3 style="color:{{ section.settings.color }};">{{ block_5.settings.icon_title }}</h3>
              {% if block_5.settings.icon_description %}
              <p style="color:{{ section.settings.color }};">{{ block_5.settings.icon_description }}</p>
              {% endif %}              
        	</div>
          {% if block_5.settings.icon_link != blank %}     
            </a>
          {% endif %}
       	</div>
     {% elsif blockCount == 6 %}
        <div class="grid-item small--one-half medium--one-third large--one-sixth">
          {% if block_1.settings.icon_link != blank %}
            <a href="{{ block_1.settings.icon_link }}" title="{{ block_1.settings.icon_title }}" {% if block_1.settings.new_window == true %}target="_blank"{% endif %}> 
          {% endif %}
            <div {% if section.settings.round_icons == true %}class="highlight-round"{% endif %} class="highlight-square">  			
              <i class="fa-solid fa-{{ block_1.settings.icon_code }}" style="color:{{ section.settings.icon_color }};background:{{ section.settings.icon_background_color }};border-color:{{ section.settings.icon_border_color }}"></i>
              <h3 style="color:{{ section.settings.color }};">{{ block_1.settings.icon_title }}</h3>
              {% if block_1.settings.icon_description %}
              <p style="color:{{ section.settings.color }};">{{ block_1.settings.icon_description }}</p>
              {% endif %}              
        	</div>
          {% if block_1.settings.icon_link != blank %}     
            </a>
          {% endif %}
       	</div>
        <div class="grid-item small--one-half medium--one-third large--one-sixth">
          {% if block_2.settings.icon_link != blank %}
            <a href="{{ block_2.settings.icon_link }}" title="{{ block_2.settings.icon_title }}" {% if block_2.settings.new_window == true %}target="_blank"{% endif %}> 
          {% endif %}
            <div {% if section.settings.round_icons == true %}class="highlight-round"{% endif %} class="highlight-square">  			
              <i class="fa-solid fa-{{ block_2.settings.icon_code }}" style="color:{{ section.settings.icon_color }};background:{{ section.settings.icon_background_color }};border-color:{{ section.settings.icon_border_color }}"></i>
              <h3 style="color:{{ section.settings.color }};">{{ block_2.settings.icon_title }}</h3>
              {% if block_2.settings.icon_description %}
              <p style="color:{{ section.settings.color }};">{{ block_2.settings.icon_description }}</p>
              {% endif %}              
            </div>
          {% if block_2.settings.icon_link != blank %}      
            </a>
          {% endif %}
       	</div>
        <div class="grid-item small--one-half medium--one-third large--one-sixth highlight-square-space">
          {% if block_3.settings.icon_link != blank %}
            <a href="{{ block_3.settings.icon_link }}" title="{{ block_3.settings.icon_title }}" {% if block_3.settings.new_window == true %}target="_blank"{% endif %}> 
          {% endif %}
            <div {% if section.settings.round_icons == true %}class="highlight-round"{% endif %} class="highlight-square">  			
              <i class="fa-solid fa-{{ block_3.settings.icon_code }}" style="color:{{ section.settings.icon_color }};background:{{ section.settings.icon_background_color }};border-color:{{ section.settings.icon_border_color }}"></i>
              <h3 style="color:{{ section.settings.color }};">{{ block_3.settings.icon_title }}</h3>
              {% if block_3.settings.icon_description %}
              <p style="color:{{ section.settings.color }};">{{ block_3.settings.icon_description }}</p>
              {% endif %}              
        	</div>
          {% if block_3.settings.icon_link != blank %}     
            </a>
          {% endif %}
       	</div>
        <div class="grid-item small--one-half medium--one-third large--one-sixth highlight-square-space">
          {% if block_4.settings.icon_link != blank %}
            <a href="{{ block_4.settings.icon_link }}" title="{{ block_4.settings.icon_title }}" {% if block_4.settings.new_window == true %}target="_blank"{% endif %}> 
          {% endif %}
            <div {% if section.settings.round_icons == true %}class="highlight-round"{% endif %} class="highlight-square">  			
              <i class="fa-solid fa-{{ block_4.settings.icon_code }}" style="color:{{ section.settings.icon_color }};background:{{ section.settings.icon_background_color }};border-color:{{ section.settings.icon_border_color }}"></i>
              <h3 style="color:{{ section.settings.color }};">{{ block_4.settings.icon_title }}</h3>
              {% if block_4.settings.icon_description %}
              <p style="color:{{ section.settings.color }};">{{ block_4.settings.icon_description }}</p>
              {% endif %}              
        	</div>
          {% if block_4.settings.icon_link != blank %} 
            </a>
          {% endif %}
       	</div>
        <div class="grid-item small--one-half medium--one-third large--one-sixth highlight-square-space">
          {% if block_5.settings.icon_link != blank %}
            <a href="{{ block_5.settings.icon_link }}" title="{{ block_5.settings.icon_title }}" {% if block_5.settings.new_window == true %}target="_blank"{% endif %}> 
          {% endif %}
            <div {% if section.settings.round_icons == true %}class="highlight-round"{% endif %} class="highlight-square">  			
              <i class="fa-solid fa-{{ block_5.settings.icon_code }}" style="color:{{ section.settings.icon_color }};background:{{ section.settings.icon_background_color }};border-color:{{ section.settings.icon_border_color }}"></i>
              <h3 style="color:{{ section.settings.color }};">{{ block_5.settings.icon_title }}</h3>
              {% if block_5.settings.icon_description %}
              <p style="color:{{ section.settings.color }};">{{ block_5.settings.icon_description }}</p>
              {% endif %}              
        	</div>
          {% if block_5.settings.icon_link != blank %} 
            </a>
          {% endif %}
       	</div>
		 <div class="grid-item small--one-half medium--one-third large--one-sixth highlight-square-space">
          {% if block_6.settings.icon_link != blank %}
            <a href="{{ block_6.settings.icon_link }}" title="{{ block_6.settings.icon_title }}" {% if block_6.settings.new_window == true %}target="_blank"{% endif %}> 
          {% endif %}
            <div {% if section.settings.round_icons == true %}class="highlight-round"{% endif %} class="highlight-square">  			
              <i class="fa-solid fa-{{ block_6.settings.icon_code }}" style="color:{{ section.settings.icon_color }};background:{{ section.settings.icon_background_color }};border-color:{{ section.settings.icon_border_color }}"></i>
              <h3 style="color:{{ section.settings.color }};">{{ block_6.settings.icon_title }}</h3>
              {% if block_6.settings.icon_description %}
              <p style="color:{{ section.settings.color }};">{{ block_6.settings.icon_description }}</p>
              {% endif %}              
        	</div>
          {% if block_6.settings.icon_link != blank %}
			</a>
          {% endif %}
       	</div>
    {% endif %}
  </div>
</div>
</div>



{% schema %}
  {
    "name": "Highlights",
	 "settings": [
    {
      "id": "highlights_title",
      "type": "text",
      "label": "Highlights label"
    },  
    {
      "id": "round_icons",
      "type": "checkbox",
      "label": "Round Icons",
      "default": true
    },
    {
      "id": "color",
      "type": "color",
      "label": "Text color",
      "default": "#4d4d4d"
    },
    {
      "id": "icon_color",
      "type": "color",
      "label": "Icon color",
      "default": "#4d4d4d"
    },
    {
      "id": "icon_border_color",
      "type": "color",
      "label": "Icon border color",
      "default": "#4d4d4d"
    },
    {
      "id": "icon_background_color",
      "type": "color",
      "label": "Background color",
      "default": "#f8f8f8"
    }
  ],
    "blocks": [
    {
      "type": "image",
      "name": "Highlight",
      "settings": [
        {
          "id": "icon_code",
          "type": "text",
          "label": "Font Awesome Code"
        },       
        {
          "id": "icon_title",
          "type": "text",
          "label": "Icon Title"
        },
        {
          "id": "icon_description",
          "type": "text",
          "label": "Icon Description"
        },
        {
          "id": "icon_link",
          "type": "url",
          "label": "Icon Link"
        },
        {
          "type": "checkbox",
          "id": "new_window",
          "label": {
            "en": "Open link in a new window"
            },
            "default": false
        }
      ],
      "limit": 6
    }
  ],
	"presets": [
    {
      "name": "Highlights",
      "category": "Image",
	  "blocks": [
	  {
        "type": "image"
      },
      {
        "type": "image"
      }
	]
    }
  ]
  }
{% endschema %}